<!DOCTYPE html>
<html lang="en">
<head>
    <title>EStore Server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h2 class="text-center">Добавить новый тип покупки</h2>

<div class="d-flex justify-content-center align-items-center">
    <form action="/purchaseTypes/add" method="post" class="w-50 mt-5">
        <div class="mb-3">
            <label for="title" class="form-label">Наименование</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>

        <div class="mt-auto d-flex justify-content-between">
            <a type="button" class="btn btn-secondary" href="/purchaseTypes">Отменить</a>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>