<!DOCTYPE html>
<html lang="en">
<head>
    <title>EStore Server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main>
    <div class="container-fluid">
        <div class="main-sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-light" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">Разделы</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/electroItems" class="nav-link text-black">Электротовары</a>
                </li>
                <li>
                    <a href="/purchases" class="nav-link text-black">Покупки</a>
                </li>
                <li>
                    <a href="/employees" class="nav-link active" aria-current="page">Сотрудники</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Справочники
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-black" href="/positions">Должности</a></li>
                        <li><a class="dropdown-item text-black" href="/electroTypes">Тип электроники</a></li>
                        <li><a class="dropdown-item text-black" href="/shops">Магазин</a></li>
                        <li><a class="dropdown-item text-black" href="/purchaseTypes">Тип покупки</a></li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="table-container">

            <div class="table-title"><span th:text="${title}"></span></div>

            <table class="table table-hover table-striped table-bordered" style="height: 10% !important;">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Магазин, в котором работает</th>
                    <th scope="col">Пол</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="element : ${employees}">
                    <td th:text="${element.getId()}"></td>
                    <td th:text="${element.getLastName()}"></td>
                    <td th:text="${element.getFirstName()}"></td>
                    <td th:text="${element.getPatronymic()}"></td>
                    <td th:text="${element.getBirthDate()}"></td>
                    <td th:text="${element.getPositionId()}"></td>
                    <td th:text="${element.getShopId()}"></td>
                    <td th:text="${element.isGender()}"></td>
                </tr>
                </tbody>

            </table>

            <button class="btn btn-primary">Добавить</button>

            <hr>

            <label for="avatar"
                   style="font-weight: bold">Импорт данных из csv-файла
            </label>

            <br>
            <br>

            <input class="w-100" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"
                   style="border: 1px solid gray; border-radius: 5px"/>
        </div>
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>